html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

body {
	color: #272727;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	line-height: 1.6;
	padding: 1rem;
	margin: auto;
	max-width: 48rem;
	background:	#e2cea8;
	color: #2F1414 !important;
}

a {
	color: #0088cc;
	text-decoration: none;
	color: #952425;
}

a:visited {
	color: #0088cc;
	color: #952425;
}

a:hover {
	color: #005580;
	text-decoration: underline;
	color: #952425;
}

a:active {
	color: #005580;
}

a:focus {
	outline: thin dotted;
}

p {
	margin: 1rem 0;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	margin-top: 2rem;
	font-weight: 700;
	font-family: Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}

p,
h1,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h1,
h2,
h3 {
	page-break-after: avoid;
}

h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2rem;
	margin-top: 1rem;
	page-break-before: always;
}

h1:first-child {
	page-break-before: avoid;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
	margin-bottom: 0;
}

h6 {
	font-size: 0.9rem;
}

p,
ul,
ol,
dl {
	font-size: 1.1rem;
}

@media screen and (min-width: 600px) {
	p,
	ul,
	ol,
	dl {
		font-size: 1.2rem;
	}
	h1 {
		font-size: 2.7rem;
		margin-top: 1rem;
		page-break-before: always;
	}
	
	h1:first-child {
		page-break-before: avoid;
	}
	
	h2 {
		font-size: 2.2rem;
	}
	
	h3 {
		font-size: 1.8rem;
	}
	
	h4 {
		font-size: 1.5rem;
	}
	
	h5 {
		font-size: 1.4rem;
		margin-bottom: 0;
	}
	
	h6 {
		font-size: 0.9rem;
	}
}



blockquote {
	color: #666666;
	margin: 0;
	padding-left: 3rem;
	page-break-inside: avoid;
	border-left: 0.5rem #eee solid;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #eee;
	margin: 1rem 0;
	padding: 0;
}

pre,
code,
kbd,
samp {
	color: #000;
}

pre {
	page-break-inside: avoid;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5rem;
}

sub {
	bottom: -0.25rem;
}

ul,
ol {
	margin: 1rem 0;
	padding: 0 0 0 2rem;
}

li p:last-child {
	margin-bottom: 0;
}

ul ul,
ol ol {
	margin: .3rem 0;
}

dl {
	margin-bottom: 1rem;
}

dt {
	font-weight: bold;
	margin-bottom: .8rem;
}

dd {
	margin: 0 0 .8rem 2rem;
}

dd:last-child {
	margin-bottom: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

figure {
	display: block;
	text-align: center;
	margin: 2rem 0;
}

figure img {
	border: none;
	margin: 0 auto;
}

figcaption {
	font-size: 0.8rem;
	font-style: italic;
	margin: 0 0 .8rem;
}

table {
	margin-bottom: 2rem;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-spacing: 0;
	border-collapse: collapse;
}

table th {
	padding: .2rem 1rem;
	background-color: #eee;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

table td {
	padding: .2rem 1rem;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	vertical-align: top;
}

.meta {
	color: #666666;
	margin-bottom: 0;
}

.author-img {
	border-radius: 50%;
	display: inline-block;
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.break {
	page-break-before: always;
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	body {
		font-size: 12pt;
		max-width: 100%;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	hr {
		height: 1px;
		border: 0;
		border-bottom: 1px solid black;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		padding-right: 1rem;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}
	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}
	/*	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}*/
}

::selection {
	background: rgba(255, 245, 20, .8);
	color: #111;
}

code[class*=language-] ::selection,
pre[class*=language-]::selection {
	text-shadow: none;
	color: inherit;
	background: hsla(0, 0%, 59%, .3) !important;
}